<!DOCTYPE html>
{% extends "medi_app2/base.html" %}
{% load static %}
{% block title %}Drug Approvals{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/drug approvals.css' %}">
{% endblock %}

{% block body_block %}

<h4>Drugs Approvals Till 2020</h4>
<div>
    <table class="table">
        <thead class="thead">
            <tr>
                <th scope="col">S. No.</th>
                <th scope="col">Title</th>
                <th scope="col">Release Date</th>
                <th scope="col">Download Pdf</th>
                <th scope="col">Pdf Size</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>List of new drugs approved in the year 2019 till 30 December 2019</td>
                <td>2020-Jan-01</td>
                <td>
                    <a href="https://cdsco.gov.in/opencms/opencms/system/modules/CDSCO.WEB/elements/download_file_division.jsp?num_id=NTQxMA==" class="button">
                    ***REMOVED***% load staticfiles %}
                        <img src="{% static 'symbols/pdf.svg' %}" alt="My image"/>
                    </a>
                </td>
                <td>505 KB</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">2</th>
                <td>LIST OF NEW DRUGS APPROVED FROM 01-01-2018 to 31.12.2018</td>
                <td>2019-Jun-18</td>
                <td>
                    <a href="https://cdsco.gov.in/opencms/opencms/system/modules/CDSCO.WEB/elements/download_file_division.jsp?num_id=NTA0Mg==" class="button">
                    ***REMOVED***% load staticfiles %}
                        <img src="{% static 'symbols/pdf.svg' %}" alt="My image"/>
                    </a>
                </td>
                <td>501 KB</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">3</th>
                <td>LIST OF NEW DRUGS APPROVED 1971_1980</td>
                <td>2019-Jan-14</td>
                <td>
                    <a href="https://cdsco.gov.in/opencms/opencms/system/modules/CDSCO.WEB/elements/download_file_division.jsp?num_id=MzIxMg==" class="button">
                    ***REMOVED***% load staticfiles %}
                        <img src="{% static 'symbols/pdf.svg' %}" alt="My image"/>
                    </a>
                </td>
                <td>120 KB</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">4</th>
                <td>LIST OF NEW DRUGS APPROVED IN INDIA FROM 1991 TO 2000</td>
                <td>2018-Aug-08</td>
                <td>
                    <a href="https://cdsco.gov.in/opencms/opencms/system/modules/CDSCO.WEB/elements/download_file_division.jsp?num_id=MzIxMg==" class="button">
                    ***REMOVED***% load staticfiles %}
                        <img src="{% static 'symbols/pdf.svg' %}" alt="My image"/>
                    </a>
                </td>
                <td>309 KB</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">5</th>
                <td>Preliminary List of Products Permitted by DCG(I) and considered as Reference Product for BA/BE Studies (2014-2011)</td>
                <td>2015-Jul-30</td>
                <td>
                    <a href="https://cdsco.gov.in/opencms/opencms/system/modules/CDSCO.WEB/elements/download_file_division.jsp?num_id=MTg1Nw==" class="button">
                    ***REMOVED***% load staticfiles %}
                        <img src="{% static 'symbols/pdf.svg' %}" alt="My image"/>
                    </a>
                </td>
                <td>136 KB</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">6</th>
                <td>	LIST OF NEW DRUGS APPROVED 2015</td>
                <td>2015-Jan-28</td>
                <td>
                    <a href="https://cdsco.gov.in/opencms/opencms/system/modules/CDSCO.WEB/elements/download_file_division.jsp?num_id=MzIzMA==" class="button">
                    ***REMOVED***% load staticfiles %}
                        <img src="{% static 'symbols/pdf.svg' %}" alt="My image"/>
                    </a>
                </td>
                <td>348 KB</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">7</th>
                <td>LIST OF NEW DRUGS APPROVED 2014</td>
                <td>2014-Feb-27</td>
                <td>
                    <a href="https://cdsco.gov.in/opencms/opencms/system/modules/CDSCO.WEB/elements/download_file_division.jsp?num_id=MzIyOA==" class="button">
                    ***REMOVED***% load staticfiles %}
                        <img src="{% static 'symbols/pdf.svg' %}" alt="My image"/>
                    </a>
                </td>
                <td>527 KB</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">8</th>
                <td>LIST OF NEW DRUGS APPROVED 2013</td>
                <td>2013-Jan-26</td>
                <td>
                    <a href="https://cdsco.gov.in/opencms/opencms/system/modules/CDSCO.WEB/elements/download_file_division.jsp?num_id=MzIyOA==" class="button">
                    ***REMOVED***% load staticfiles %}
                        <img src="{% static 'symbols/pdf.svg' %}" alt="My image"/>
                    </a>
                </td>
                <td>244 KB</td>
            </tr>
        </tbody>
           <tbody>
            <tr>
                <th scope="row">9</th>
                <td>LIST OF NEW DRUGS APPROVED 2012</td>
                <td>2012-Jan-10</td>
                <td>
                    <a href="https://cdsco.gov.in/opencms/opencms/system/modules/CDSCO.WEB/elements/download_file_division.jsp?num_id=MzIyNg==" class="button">
                    ***REMOVED***% load staticfiles %}
                        <img src="{% static 'symbols/pdf.svg' %}" alt="My image"/>
                    </a>
                </td>
                <td>140 KB</td>
            </tr>
        </tbody>
           <tbody>
            <tr>
                <th scope="row">10</th>
                <td>LIST OF NEW DRUGS APPROVED 2011</td>
                <td>2011Jan-10</td>
                <td>
                    <a href="https://cdsco.gov.in/opencms/opencms/system/modules/CDSCO.WEB/elements/download_file_division.jsp?num_id=MzIyNg==" class="button">
                    ***REMOVED***% load staticfiles %}
                        <img src="{% static 'symbols/pdf.svg' %}" alt="My image"/>
                    </a>
                </td>
                <td>427 KB</td>
            </tr>
        </tbody>

    </table>
</div>


{% endblock %}