<!DOCTYPE html>
{% extends "medi_app2/base.html" %}
{% load static %}
{% block title %}News{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/specialist.css' %}">
{% endblock %}
{% block body_block %}

<h1>Top Specialist of Vadodara </h1>

    <!--Slideshow starts here -->
    <div class="container carousel-inner no-padding">
      <div class="carousel-item active">
        <div class="col-xs-3 col-sm-3 col-md-3">
            <b> <p style="margin-top: 25px;" class="card-text" > Acne Specialist</p> </b>
          <div class="card" style="width: 18rem;">
          ***REMOVED***% load staticfiles %}
              <img src="{% static 'hospital/dr-nikhil-shah-alka-clinic-vasna-road-vadodara-dermatologists-hz7x7vc1pi.jpg' %}" class="card-img-top" height="250px"  width="250px" alt="My image"/>
            <div class="card-body" style="margin-top: 25px;" >
                 <h5 class="card-title">Dr. Nikhil Shah Alka Clinic</h5>
                <p class="card-text" > Dr. Nikhil Shah</p>
                <a href="https://www.lybrate.com/vadodara/clinic/alka-clinic-cross-raod-c5f5" target="_blank" class="btn btn-primary">Know more</a>
            </div>
          </div>
       </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
             <b> <p style="margin-top: 25px;" class="card-text" > Genes Specialist</p> </b>
          <div class="card" style="width: 18rem;">
          ***REMOVED***% load staticfiles %}
            <img src="{% static 'hospital/genetic.jpg' %}" class="card-img-top"  height="250px"  width="250px" alt="...">
            <div class="card-body" style="margin-top: 25px;">
              <h5 class="card-title">Dr Krati Shah's Clinic</h5>
              <p class="card-text">Dr Krati Shah</p>
              <a href="https://www.justdial.com/Vadodara/Dr-Krati-Shah-Clinical-Geneticist-Natubhai-Circle-Race-Course/0265PX265-X265-150803170509-I6Q1_BZDET?xid=VmFkb2RhcmEgR2VuZXRpYyBEaXNvcmRlciBEb2N0b3Jz&tab=book-appointment&reqbk=" target="_blank" class="btn btn-primary"> Know more </a>
            </div>
          </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
             <b> <p style="margin-top: 25px;" class="card-text" > Cardiac Surgery</p> </b>
          <div class="card" style="width: 18rem;">
          ***REMOVED***% load staticfiles %}
            <img src="{% static 'hospital/bankers.jpeg'%}" class="card-img-top"  height="250px"  width="250px" alt="...">
            <div class="card-body" style="margin-top: 25px;">
              <h5 class="card-title">Banker Heart Hospital</h5>
              <p class="card-text">Dr Darshan Banker</p>
              <a href="http://www.bankersheart.com/" target="_blank" class="btn btn-primary">Know more</a>
            </div>
          </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
              <b> <p style="margin-top: 25px;" class="card-text" > Endocrinologist</p> </b>
          <div class="card" style="width: 18rem;">
          ***REMOVED***% load staticfiles %}
            <img src="{% static 'hospital/dr-shailesh-trivedi.jpeg' %}" class="card-img-top" height="250px"  width="250px" alt="...">
            <div class="card-body" style="margin-top: 25px;">
              <h5 class="card-title">Anand Hospital</h5>
              <p class="card-text">Dr Shailesh Trivedi</p>
              <a href="https://anandhospital.in/" target="_blank"  class="btn btn-primary">Know more</a>
            </div>
          </div>
        </div>
      </div>


        <div class="carousel-item">
        <div class="col-xs-3 col-sm-3 col-md-3">
             <b> <p style="margin-top: 25px;" class="card-text" >Dentist</p> </b>
          <div class="card" style="width: 18rem;">
          ***REMOVED***% load staticfiles %}
            <img src="{% static 'hospital/dental.png' %}" class="card-img-top"  height="250px"  width="250px" alt="...">
            <div class="card-body" style="margin-top: 25px;">
                <h5 class="card-title">Dental Spa</h5>
                <p class="card-text">Dr Preay Mehta</p>
                <a href="http://www.drpreays.com/" target="_blank" class="btn btn-primary">Know more</a>
            </div>
          </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
             <b> <p style="margin-top: 25px;" class="card-text" >Hematology</p> </b>
          <div class="card" style="width: 18rem;">
          ***REMOVED***% load staticfiles %}
            <img src="{% static 'hospital/sterling.jpg' %}" class="card-img-top"  height="250px"  width="250px" alt="...">
            <div class="card-body" style="margin-top: 25px;">
              <h5 class="card-title">Sterling Hospital</h5>
              <p class="card-text">Dr Seema Bhatwadekar</p>
              <a href="https://www.sterlinghospitals.com/vadodara-doctors.php" target="_blank" class="btn btn-primary">Know more</a>
            </div>
          </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
            <b> <p style="margin-top: 25px;" class="card-text" >Joint Replacement</p> </b>
          <div class="card" style="width: 18rem;">
          ***REMOVED***% load staticfiles %}
            <img src="{% static 'hospital/welcare.png' %}" class="card-img-top"  height="250px"  width="250px" alt="...">
            <div class="card-body" style="margin-top: 25px;">
              <h5 class="card-title">Welcare Hospital</h5>
              <p class="card-text">Dr Bharat S Mody</p>
              <a href="http://www.welcarehospital.co.in/" target="_blank" class="btn btn-primary">Know more</a>
            </div>
          </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
            <b> <p style="margin-top: 25px;" class="card-text" >Dermetology</p> </b>
          <div class="card" style="width: 18rem;">
          ***REMOVED***% load staticfiles %}
            <img src="{% static 'hospital/dermatology.jpg' %}" class="card-img-top"  height="250px"  width="250px" alt="...">
            <div class="card-body" style="margin-top: 25px;">
              <h5 class="card-title">Som Lakhani's Clinic</h5>
              <p class="card-text">Dr Som Lakhani</p>
              <a href="https://dr-som-lakhani.business.site/" target="_blank" class="btn btn-primary">Know more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="col-xs-3 col-sm-3 col-md-3">
               <b> <p style="margin-top: 25px;" class="card-text" >Orthopedic Surgery</p> </b>
          <div class="card" style="width: 18rem;">
          ***REMOVED***% load staticfiles %}
            <img src="{% static 'hospital/narayan.jpg' %}" class="card-img-top"  height="250px"  width="250px" alt="...">
            <div class="card-body" style="margin-top: 25px;">
                <h5 class="card-title">Narayan Spine Hospital</h5>
                <p class="card-text">Dr Kedar Phadke</p>
                <a href="http://vadodarahelpline.com/narayan-spine-hospital-dr-kedar-phadke" target="_blank" class="btn btn-primary">Know more</a>
            </div>
          </div>
       </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
             <b> <p style="margin-top: 25px;" class="card-text" >ENT</p> </b>
          <div class="card" style="width: 18rem;">
          ***REMOVED***% load staticfiles %}
            <img src="{% static 'hospital/nene.jpg' %}" class="card-img-top"  height="250px"  width="250px" alt="...">
            <div class="card-body" style="margin-top: 25px;">
              <h5 class="card-title">Nene Clinic</h5>
              <p class="card-text">Dr Milind Nene</p>
              <a href="https://infoline.com/nene-clinic" target="_blank" class="btn btn-primary">Know more</a>
            </div>
          </div>
        </div>


        <div class="col-xs-3 col-sm-3 col-md-3">
             <b> <p style="margin-top: 25px;" class="card-text" >Gynecologists</p> </b>
          <div class="card" style="width: 18rem;">
          ***REMOVED***% load staticfiles %}
            <img src="{% static 'hospital/nisarg.jpg' %}" class="card-img-top"  height="250px"  width="250px"  alt="...">
            <div class="card-body" style="margin-top: 25px;">
              <h5 class="card-title">Nisarg Maternity Hospital</h5>
              <p class="card-text">Dr Sweta Shah</p>
              <a href="http://nisarghospital.com/" target="_blank" class="btn btn-primary">Know More</a>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>


{% endblock %}